.DS_Store

# fish 
credential.fish
fish_variables
/.config/fish/completions/*
/.config/fish/functions/*
/.config/fish/conf.d/*
/.config/fish/themes/*
!/fish/conf.d/config.fish

# homebrew
Brewfile.lock.json

# tmp files
tmp.*
temp.*
hoge.*
fuga.*
piyo.*
