.DS_Store

# fish 
credential.fish
fish_variables
/fish/completions/*
/fish/functions/*
/fish/conf.d/*
!/fish/conf.d/config.fish

# homebrew
Brewfile.lock.json

# tmp files
tmp.*
temp.*
hoge.*
fuga.*
piyo.*
